---
import Layout from "../../layouts/Layout.astro";

// Sections
import CommonMistakesSection from "../../sections/SerpPreviewPageSections/CommonMistakesSection.astro";
import FaqSection from "../../sections/SharedSections/FaqSection.astro";
import Footer from "../../sections/FooterSection.astro";
import HowItWorksSection from "../../sections/SharedSections/HowItWorksSection.astro";
import WhyMetasImportantSection from "../../sections/SerpPreviewPageSections/WhyMetasImportantSection.astro";
// Components
import CtaSection from "../../sections/WebpConverterPageSections/CtaSection.astro";
import GoogleSerpPreviewToolComponent from "../../components/toolsComponent/GoogleSerpPreviewTool.astro";
import Header from "../../components/Header.astro";

// Data & Schemas
import FinalCtaSection from "../../sections/WebpConverterPageSections/FinalCtaSection.astro";
import pageData from "../../data/serpPreviewPage.json";
import SeoTipsSection from "../../sections/SerpPreviewPageSections/SeoTipsSection.astro";

const {
  callToActionSection,
  commonMistakes,
  faqSection,
  firstCtaSection,
  howItWorksSection,
  metaDescription,
  metaTitle,
  ogImage,
  ogSiteName,
  ogUrl,
  secondCtaSection,
  seoTipsSection,
  whyMetasImportant,
} = pageData.pageContent;
---

<Layout
  description={metaDescription}
  ogDescription={metaDescription}
  ogImageAlt={ogImage.ogImageAlt}
  ogImageUrl={ogImage.ogImageUrl}
  ogSiteName={ogSiteName}
  ogTitle={metaTitle}
  ogUrl={ogUrl}
  title={metaTitle}
>
  <Fragment slot="head">
    <!-- <SchemaHead items={webpSchemas} /> -->
  </Fragment>
  <!-- 1. Header -->
  <Header>
    <div class="hero-copy">
      <h1 class="margin-bottom-1">
        {pageData.pageContent.heroTitle}
      </h1>
      <p class="margin-bottom-2">
        {pageData.pageContent.heroSubtitle}
      </p>
    </div>
  </Header>
  <!-- 2. SERP Preview component -->
  <GoogleSerpPreviewToolComponent />
  <!-- 3. How it works section -->
  <HowItWorksSection
    title={howItWorksSection.title}
    steps={howItWorksSection.steps}
  />
  <!-- cta section -->
  <CtaSection
    contactBtn={firstCtaSection.contactBtn}
    description={firstCtaSection.description}
    title={firstCtaSection.title}
  />
  <!-- Why metas are important -->
  <WhyMetasImportantSection whyMetasImportant={whyMetasImportant} />
  <!-- Common mistakes -->
  <CommonMistakesSection commonMistakes={commonMistakes} />
  <!-- SEO Tips -->
  <SeoTipsSection seoTipsSection={seoTipsSection} />

  <!-- 8. Lead capture blok (CTA Section) -->
  <!-- <CtaSection
    contactBtn={secondCtaSection.contactBtn}
    description={secondCtaSection.description}
    title={secondCtaSection.title}
    id="lead-capture"
  /> -->

  <!-- 11.  FAQ (SEO & leads) -->
   <FaqSection
    faqSection={faqSection}
    id="google-serp-tool-faq"
   />


  <!-- 12. Footer CTA (sterk herhalen) -->
  <FinalCtaSection
    callToActionSection={callToActionSection}
    id="footer-cta"
  />

  <Footer />
</Layout>

