---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import CtaSection from "../../sections/CtaSection.astro";
import FooterSection from "../../sections/FooterSection.astro";
import fetchBlogArticles from "../../lib/fetchBlogArticles"

const blogs = await fetchBlogArticles()
console.log(blogs.featuredImage)
---

<Layout title="Blog | Westend Digital">
  <Header>
    <h1>Blog</h1>
  </Header>

  <section class="fb-col-wrapper">
    <div class="blog-list">
      {
        blogs.map(blog => (
          <a href={`/blog/${blog.node.slug}`}>
            <img
              src={blog.node.featuredImage.node.mediaItemUrl}
              width={500}
              height={500}
              alt={blog.node.featuredImage.node.altText}
              />
              <div class="text-wrapper">
                <h2>{blog.node.title}</h2>
                <div set:html={blog.node.featuredImage.node.description}></div>
              </div>
          </a>
        ) )

      }

    </div>
  </section>
  <CtaSection />
  <FooterSection />
</Layout>


<style>

  .blog-list {
    display: grid;
    gap: 1rem;
    grid-column: 2 / -2;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    a {
      background-color: hsl(from var(--clr-primary-900) H S L / 20%);
      border-radius: var(--border-radius-card);
      max-height: 75rem;
      overflow: hidden;
      text-decoration: none;

      img {
        height: 25rem;
        object-fit: cover;
        object-position: center;
        width: 100%;
      }

      .text-wrapper {
        padding-inline: var(--size-1);
        padding-block: var(--size-2);

        h2 {
          margin-block-end: var(--size-2);
        }

        div {
          p {
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        };
      }
    }
  }

</style>
