---
// Sections
import BrochureClosingCtaSection from "../sections/BrochureClosingCtaSection.astro";
import DoubleReviewSection from "../sections/DoubleReviewSection.astro";
import DownloadFormSection from "../sections/DownloadFormSection.astro";
import IntroSection from "../sections/IntroSection.astro";
import FunnelLayout from "../layouts/FunnelLayout.astro";
import Header from "../components/Header.astro";
import WhatYouGetSection from "../sections/WhatYouGetSection.astro";

// Components
import CtaDownloadButton from "../components/CtaDownloadButton.astro";
import SectionTitle from "../components/SectionTitle.astro";

// Astro api's
import Image from "astro/components/Image.astro";

// Data
import PageData from "../data/brochure.json";

const {
  aboutUsSection,
  brochureClosingCtaSection,
  downloadSection,
  herkenbaarSection,
  heroSection,
  waaromKiezenSection,
  metaDescription,
  metaTitle,
  ogImage,
  ogUrl,
  watAlsSection,
  watJeKrijgtSection,
  voorWieSection,
} = PageData.pageContent;

const iconColor = "var(--clr-primary-900)";
---

<FunnelLayout
  description={metaDescription}
  ogDescription={metaDescription}
  ogImageAlt={ogImage.ogImageAlt}
  ogImageUrl={ogImage.ogImageUrl}
  ogTitle={metaTitle}
  ogUrl={ogUrl}
  title={metaTitle}
>
  <Header>
    <div>
      <h1 set:html={heroSection.title} />
      <p set:html={heroSection.subtitle} />

      <!-- CTA Download Button -->
      <CtaDownloadButton
        AriaLabel={heroSection.ariaLabel}
        CtaBtn={heroSection.ctaBtn}
        DownloadFileName={heroSection.downloadFileName}
        Title={heroSection.ctaBtnTitle}
        Url={heroSection.ctaBtnUrl}
      />
    </div>
  </Header>

  <main>
    <!-- Herkenbaar Section -->
    <section id="herkenbaar-section">
      <div class="wrapper flex-section">
        <div class="text-wrapper">
          <h2>{herkenbaarSection.title}</h2>
          <p set:html={herkenbaarSection.paragraph} />
          <!-- CTA Download Button -->
          <CtaDownloadButton
            AriaLabel={watAlsSection.ctaBtn}
            CtaBtn={watAlsSection.ctaBtn}
            Title={watAlsSection.ctaBtn}
            Url={watAlsSection.ctaBtnUrl}
          />
        </div>
        <div class="image-wrapper">
          <img
            src={herkenbaarSection.imageUrl}
            alt={herkenbaarSection.altText}
            loading="lazy"
          />
        </div>
      </div>
    </section>

    <!-- What if Section -->
    <section id="wat-als-section">
      <div class="wrapper flex-section flex-reverse">
        <div class="text-wrapper">
          <h2>{watAlsSection.title}</h2>
          <p>{watAlsSection.listTitle}</p>
          <ul role="list">
            {
              watAlsSection.listItems.map((item) => (
                <li>
                  <span class="icon">✅</span>
                  <span>{item}</span>
                </li>
              ))
            }
          </ul>
          <p>{watAlsSection.listFooter}</p>
          <!-- CTA Download Button -->
          <CtaDownloadButton
            AriaLabel={watAlsSection.ctaBtn}
            CtaBtn={watAlsSection.ctaBtn}
            Title={watAlsSection.ctaBtn}
            Url={watAlsSection.ctaBtnUrl}
          />
        </div>

        <div class="image-wrapper">
          <img
            alt={watAlsSection.altText}
            loading="lazy"
            src={watAlsSection.imageUrl}
          />
        </div>
      </div>
    </section>

    <!-- What you get section -->
    <WhatYouGetSection
      items={watJeKrijgtSection.items}
      title={watJeKrijgtSection.title}
      watJeKrijgtSection={watJeKrijgtSection}
    />

    <!-- Review Section -->
    <DoubleReviewSection />
    <!-- Cta Sectoin -->

    <!-- About me section -->
    <IntroSection
      altText={aboutUsSection.altText}
      imageUrl={aboutUsSection.imageUrl}
      paragraph={aboutUsSection.paragraph}
      title={aboutUsSection.title}
    />
    <!-- Who is this for section -->
    <section id="who-is-this-for" class="wrapper hidden">
      <div class="wrapper flex-column gap-4">
        <div class="section-header text-center">
          <SectionTitle sectionTitle={voorWieSection.title} />
          <p set:html={voorWieSection.intro} />
        </div>
        <div class="flex">
          <div class="who-is-this-for-column">
            <h3 set:html={voorWieSection.competition.title} />

            <ul role="list">
              {
                voorWieSection.competition.list.map((listItem) => (
                  <li class="list-item">
                    <span class="icon">❌</span>
                    <span class="text">{listItem}</span>
                  </li>
                ))
              }
            </ul>
          </div>
          <div class="who-is-this-for-column">
            <h3 set:html={voorWieSection.westendDigital.title} />
            <ul role="list">
              {
                voorWieSection.westendDigital.list.map((listItem) => (
                  <li class="list-item">
                    <span class="icon">✅</span>
                    <span class="text">{listItem}</span>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Closing Call to Action Section -->
    <BrochureClosingCtaSection
      ariaLabel={brochureClosingCtaSection.ariaLabel}
      ctaBtn={brochureClosingCtaSection.ctaBtn}
      ctaBtnUrl={brochureClosingCtaSection.ctaBtnUrl}
      disclaimer={brochureClosingCtaSection.disclaimer}
      subtitle={brochureClosingCtaSection.subtitle}
      title={brochureClosingCtaSection.title}
    />

    <!-- Why us section -->
    <section id="why-us">
      <div class="wrapper flex-column gap-4">
        <div class="section-header text-center">
          <SectionTitle sectionTitle={waaromKiezenSection.title} />
          <p set:html={waaromKiezenSection.intro} />
        </div>
        <div class="flex align-center justify-between">
          <div class="flex">
            <div class="why-us-column">
              <h3 set:html={waaromKiezenSection.benefits.title} />

              <ul role="list">
                {
                  waaromKiezenSection.benefits.list.map((listItem) => (
                    <li class="list-item">
                      <span class="icon">✅</span>
                      <span class="text">{listItem}</span>
                    </li>
                  ))
                }
              </ul>
            </div>
            <picture class="why-us-image">
              <Image
              alt={waaromKiezenSection.image.altText}
              height={500}
              loading="lazy"
              src={waaromKiezenSection.image.imageUrl}
              width={500}
              />
            </picture>
          </div>
        </div>
      </div>
    </section>

    <!-- Review Section -->
    <!-- <DoubleReviewSection /> -->

    <!-- Download section -->
    <DownloadFormSection
      ariaLabel={downloadSection.ariaLabel}
      ctaBtn={downloadSection.ctaBtn}
      formNotification={downloadSection.formNotification}
      paragraph={downloadSection.paragraph}
      title={downloadSection.title}
    />
  </main>
</FunnelLayout>

<style>
  #brochure-closing-cta-section {
    display: grid;
    place-items: center;
    margin-block-end: var(--size-10);

    div {
      align-content: center;
      display: grid;
      gap: var(--size-3);
      justify-content: center;
      max-width: 85ch;
      text-align: center;

      h1 {
        color: var(--clr-primary-100);
        font-size: var(--fs-900);
        line-height: var(--lh-200);
      }

      p {
        margin-inline: auto;
      }

      button,
      a {
        margin-inline: auto;
      }

      span {
        color: var(--clr-primary-900);
        font-size: var(--fs-300);
        font-weight: 500;
      }
    }
  }

  .who-is-this-for-column {
    width: 50%;

    h3 {
      font-size: var(--fs-600);
      height: calc(var(--fs-700) * 2);
      margin-block-end: var(--size-2);
    }

    .list-item {
      align-items: flex-start;
      display: flex;

      .icon {
        flex-shrink: 0;
        width: var(--size-4);
      }

      .text {
        display: inline-block;
      }
    }
  }

  #why-us {

    .why-us-column {
      width: 50%;

      h3 {
        font-size: var(--fs-600);
        height: calc(var(--fs-700) * 2);
        margin-block-end: var(--size-2);
      }

      .list-item {
        align-items: flex-start;
        display: flex;

        .icon {
          flex-shrink: 0;
          width: var(--size-4);
        }

        .text {
          display: inline-block;
        }
      }
    }

    .why-us-image {
      width: 50%;
      border-radius: var(--border-radius-card);
      overflow: hidden;
      box-shadow: var(--box-shadow);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
</style>
