---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ContactForm from "../components/reactComponent.ContactForm/ContactForm";
import FooterSection from "../sections/FooterSection.astro";
import LetterSend from '../assets/letter_send.svg';
import { PhoneIcon, EmailIcon, LocationIcon} from "../assets/icons"
import siteData from '../data/site.json'
import pageData from '../data/contact.json'

const { adress, legalPages } = siteData
const {
  metaTitle,
  metaDescription,
  ogImage,
  ogUrl,
  heroTitle,
  heroSubtitle,
  formTitle,
  btnText,
  legalText
} = pageData.pageContent
---

<Layout
  title={metaTitle}
  description={metaDescription}
  ogTitle={metaTitle}
  ogDescription={metaDescription}
  ogImageUrl={ogImage.ogImageUrl},
  ogImageAlt={ogImage.ogImageAlt},
  ogUrl={ogUrl}
  >
  <Header>
    <div>
      <h1>{heroTitle}</h1>
      <span>{heroSubtitle}</span>
    </div>
  </Header>
  <main>
    <section class="wrapper">
      <div class="flex contact-wrapper">
        <div class="adress-wrapper">
          <h3>{formTitle}</h3>
          <ul role="list">
            <li><a href={`tel:${adress.phone.phoneHref}`}><PhoneIcon iconFill="var(--clr-primary-100)"/>{adress.phone.number}</a></li>
            <li><a href={`mailto:${adress.email}?subject=Contact verzoek`}><EmailIcon iconFill="var(--clr-primary-100)"/> {adress.email}</a></li>
            <li>
              <LocationIcon iconFill="var(--clr-primary-100)"/>
              <span>{adress.street}, <br/>{adress.adress}</span>
            </li>
          </ul>

          <div class="circle circle-small" />
          <div class="circle circle-big" />
        </div>
        <div id="contact-form">
          <ContactForm
            submitBtnText={btnText}
            legal={legalText}
            link={legalPages[0]}

          client:load />
          <LetterSend />
        </div>
      </div>
    </section>
  </main>
  <FooterSection />
</Layout>

<style>

  .contact-wrapper {
    align-items: center;
    margin-block-end: var(--size-10);
    width: 100%;

    .adress-wrapper {
      background-color: var(--clr-primary-900);
      border-radius: var(--border-radius-card);
      color: var(--clr-primary-100);
      height: 100%;
      overflow: hidden;
      padding-block-end: 5rem;
      padding-block-start: var(--size-4);
      padding-inline: var(--size-4);
      position: relative;
      width: 100%;

      h3 {
        font-size: var(--fs-600);
        font-weight: var(--fw-semi-bold);
        line-height: var(--lh-200);
       }
      ul {
        display: grid;
        gap: var(--size-1);
        margin-top: 5rem;

        li,
        a {
            align-items: center;
            display: flex;
            gap: var(--size-1);
            text-decoration: none;
           }

        a:hover {
          text-decoration: underline;
        }
       }

    .circle {
      background-color: var(--clr-primary-100);
      border-radius: 100%;
      opacity: 10%;
      position: absolute;
     }

    .circle-small {
      --_circle-height: 13.8rem;
      --_circle-width: 13.8rem;
      bottom: 7.5rem;
      height: var(--_circle-height);
      right: 7.5rem;
      width: var(--_circle-width);
      z-index: 10;
     }
    .circle-big {
        --_circle-height: 26.9rem;
        --_circle-width: 26.9rem;
        bottom: -10rem;
        height: var(--_circle-height);
        right: -10rem;
        width: var(--_circle-width);
      }
     }

    #contact-form {
      width: 100%;
     }

     @media(width >= 67.5em) {
      .adress-wrapper {
        width: 40%;
      }

      #contact-form {
        width: 60%;
      }
     }
  }

</style>
