---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import IntroSection from "../sections/IntroSection.astro";
import WebCheckFormSection from "../sections/WebCheckFormSection.astro";
import FaqSection from "../sections/FaqSection.astro";
import WebCheckHowWeWorkSection from '../sections/WebCheckHowWeWorkSection.astro'
import FooterSection from "../sections/FooterSection.astro";
import data from "../data/website-check.json"

const {
  pageTitle,
  introSection,
  formSection,
  howWeWorkSection,
  howWeWorkBtnText
} = data.pageContent


---

<Layout title="Gratis website check | Westend Digital">
  <Header>
    <div>
      <h1>{pageTitle}</h1>
    </div>
  </Header>
  <section id="web-check-form-section">
    <IntroSection
      altText={introSection.altText}
      imageUrl={introSection.imageUrl}
      paragraph={introSection.paragraph}
      title={introSection.title}
    />
    <WebCheckFormSection
      paragraph={formSection.paragraph}
      uspList={formSection.uspList}
      ctaText={formSection.ctaText}
      ctaButton={formSection.ctaButton}
    />
  </section>
  <WebCheckHowWeWorkSection
    steps={howWeWorkSection}
    btnText={howWeWorkBtnText}
  />
  <!-- <FaqSection sectionId="webcheck-faq"/> -->
  <FooterSection />
</Layout>
