---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import IntroSection from "../sections/IntroSection.astro";
import WebCheckFormSection from "../sections/WebCheckFormSection.astro";

import WebCheckHowWeWorkSection from "../sections/WebCheckHowWeWorkSection.astro";
import FooterSection from "../sections/FooterSection.astro";
import data from "../data/website-check.json";

const {
  pageTitle,
  introSection,
  formSection,
  howWeWorkSection,
  howWeWorkBtnText,
} = data.pageContent;
---

<Layout
  title="Gratis website check | Westend Digital"
  description="Ontdek hoe je website presteert met onze gratis website check. Krijg inzicht in verbeterpunten en optimaliseer je online aanwezigheid."
  ogTitle="Gratis website check | Westend Digital"
  ogSiteName="Westend Digital"
  ogDescription="Ontdek hoe je website presteert met onze gratis website check. Krijg inzicht in verbeterpunten en optimaliseer je online aanwezigheid."
  ogImageUrl="/images/website-check.webp"
  ogImageAlt="Gratis website check | Westend Digital"
  ogUrl="https://westenddigital.nl/gratis-website-check"
>
  <Header>
    <div>
      <h1>{pageTitle}</h1>
    </div>
  </Header>
  <section id="web-check-form-section">
    <IntroSection
      altText={introSection.altText}
      imageUrl={introSection.imageUrl}
      paragraph={introSection.paragraph}
      title={introSection.title}
    />
    <WebCheckFormSection
      paragraph={formSection.paragraph}
      uspList={formSection.uspList}
      ctaText={formSection.ctaText}
      ctaButton={formSection.ctaButton}
    />
  </section>
  <WebCheckHowWeWorkSection
    steps={howWeWorkSection}
    btnText={howWeWorkBtnText}
  />
  <!-- <FaqSection sectionId="webcheck-faq"/> -->
  <FooterSection />
</Layout>
