---
import Layout from '../layouts/Layout.astro';
import HomeHero from '../sections/HomeHero.astro';
import WhatIdoSection from '../sections/WhatIdoSection.astro';
import IntroSection from '../sections/IntroSection.astro';
import UspSection from '../sections/UspSection.astro';
import HowWeWorkSection from '../sections/HowWeWorkSection.astro';
// import ReviewSection from '../sections/ReviewSection.astro';
import FaqSection from '../sections/FaqSection.astro';
import CtaSection from '../sections/CtaSection.astro';
import FooterSection from '../sections/FooterSection.astro';
import pageData from "../data/homePage.json"


const {
  metaTitle,
  metaDescription,
  ogImage,
  ogUrl,
  heroTitle,
  heroSubtitle,
  ctaBtn,
  heroImage,
  heroBackgroundImage,
  introSection,
  sectionCodeToConnection,
  whatIDoSection,
  howWeWorkSection,
  faqSection
} = pageData.pageContent


---

<Layout
  title={metaTitle}
  description={metaDescription}
  ogTitle={metaTitle}
  ogDescription={metaDescription}
  ogImageUrl={ogImage.ogImageUrl},
  ogImageAlt={ogImage.ogImageAlt},
  ogUrl={ogUrl}
>
  <HomeHero
    title={heroTitle}
    subTitle={heroSubtitle}
    ctaBtn={ctaBtn}
    image={heroImage}
    backgroundImage={heroBackgroundImage}
  />
  <!-- <Header>
    <div>
      <h1>{heroTitle}</h1>
      <span>{heroSubtitle}</span>
      <a href="/contact" class="btn btn-secondary">
        {ctaBtn}
      </a>
    </div>
  </Header> -->
	<main>
    <WhatIdoSection
    services={whatIDoSection.services}
    whatIDo={whatIDoSection.whatIDo}

    />
    <UspSection />
    <HowWeWorkSection
      title={howWeWorkSection.title}
      steps={howWeWorkSection.steps}
    />
        <IntroSection
      title={introSection.title}
      paragraph={introSection.paragraph}
      imageUrl={introSection.imageUrl}
      altText={introSection.altText}
    />
    <!-- <ReviewSection /> -->
    <FaqSection
      title={faqSection.title}
      faqs={faqSection.faqs}
    />

    <CtaSection />
    <FooterSection />
	</main>
</Layout>
