---
import CtaSection from "../sections/CtaSection.astro";
import FaqSection from "../sections/FaqSection.astro";
import FooterSection from "../sections/FooterSection.astro";
import HomeHero from "../sections/HomeHero.astro";
import HowWeWorkSection from "../sections/HowWeWorkSection.astro";
import IntroSection from "../sections/IntroSection.astro";
import Layout from "../layouts/Layout.astro";
import pageData from "../data/homePage.json";
import UspSection from "../sections/UspSection.astro";
import WhatIdoSection from "../sections/WhatIdoSection.astro";

const {
  ctaBtn,
  faqSection,
  heroBackgroundImage,
  heroImage,
  heroSubtitle,
  heroTitle,
  howWeWorkSection,
  metaDescription,
  metaTitle,
  ogImage,
  ogUrl,
  sectionCodeToConnection,
  topTitle,
  whatIDoSection,
} = pageData.pageContent;
---

<Layout
  description={metaDescription}
  ogDescription={metaDescription}
  ogImageAlt={ogImage.ogImageAlt}
  ogImageUrl={ogImage.ogImageUrl}
  ogTitle={metaTitle}
  ogUrl={ogUrl}
  title={metaTitle}
>
  <HomeHero
    backgroundImage={heroBackgroundImage}
    ctaBtn={ctaBtn}
    heroImage={heroImage}
    subTitle={heroSubtitle}
    title={heroTitle}
    topTitle={topTitle}

  />
  <main>
    <WhatIdoSection
      services={whatIDoSection.services}
      whatIDo={whatIDoSection.whatIDo}
    />
    <UspSection />
    <HowWeWorkSection
      steps={howWeWorkSection.steps}
      title={howWeWorkSection.title}
    />
    <IntroSection
      altText={sectionCodeToConnection.altText}
      imageUrl={sectionCodeToConnection.imageUrl}
      paragraph={sectionCodeToConnection.paragraph}
      title={sectionCodeToConnection.title}
    />
    <!-- <ReviewSection /> -->
    <FaqSection title={faqSection.title} faqs={faqSection.faqs} />

    <CtaSection />
    <FooterSection />
  </main>
</Layout>
