---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import CtaSection from "../sections/CtaSection.astro";
import FooterSection from "../sections/FooterSection.astro";
import IntroSection from "../sections/IntroSection.astro";
import AboutMeHelpYouGrowSection from "../sections/AboutMeHelpYouGrowSection.astro";

import data from "../data/aboutMe.json";

const {
  metaTitle,
  metaDescription,
  ogImage,
  ogUrl,
  heroTitle,
  introSection,
  aboutCustomerSection,
  growSteps,
} = data.pageContent;
---

<Layout
  title={metaTitle}
  description={metaDescription}
  ogTitle={metaTitle}
  ogDescription={metaDescription}
  ogImageUrl={ogImage.ogImageUrl}
  ,
  ogImageAlt={ogImage.ogImageAlt}
  ,
  ogUrl={ogUrl}
>
  <Header>
    <div>
      <h1>{heroTitle}</h1>
    </div>
  </Header>
  <main>
    <IntroSection
      altText={introSection.altText}
      flexDirection="flex"
      imageUrl={introSection.imageUrl}
      paragraph={introSection.paragraph}
      title={introSection.title}
    />
    <IntroSection
      altText={aboutCustomerSection.altText}
      flexDirection="flex-reverse"
      imageUrl={aboutCustomerSection.imageUrl}
      paragraph={aboutCustomerSection.paragraph}
      title={aboutCustomerSection.title}
    />
    <AboutMeHelpYouGrowSection
      steps={growSteps.steps}
      title={growSteps.title}
    />
    <CtaSection />
  </main>
  <FooterSection />
</Layout>
