---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import CtaSection from "../sections/CtaSection.astro";
import FooterSection from "../sections/FooterSection.astro";
import IntroSection from "../sections/IntroSection.astro";
import AboutMeHelpYouGrowSection from "../sections/AboutMeHelpYouGrowSection.astro";

import data from "../data/aboutMe.json"

const {
  metaTitle,
  metaDescription,
  ogImage,
  ogUrl,
  heroTitle,
  introSection,
  aboutCustomerSection,
  growSteps
} = data.pageContent


---

<Layout
  title={metaTitle}
  description={metaDescription}
  ogTitle={metaTitle}
  ogDescription={metaDescription}
  ogImageUrl={ogImage.ogImageUrl},
  ogImageAlt={ogImage.ogImageAlt},
  ogUrl={ogUrl}
>
  <Header >
    <div>
      <h1>{heroTitle}</h1>
    </div>
  </Header>
  <main>
    <IntroSection
      title={introSection.title}
      paragraph={introSection.paragraph}
      imageUrl={introSection.imageUrl}
      altText={introSection.altText}
      flexDirection="flex"
    />
    <IntroSection
      title={aboutCustomerSection.title}
      paragraph={aboutCustomerSection.paragraph}
      imageUrl={aboutCustomerSection.imageUrl}
      altText={aboutCustomerSection.altText}
      flexDirection="flex-reverse"
    />
    <AboutMeHelpYouGrowSection
      title = {growSteps.title}
      steps = {growSteps.steps}
    />
    <CtaSection />
  </main>
  <FooterSection />
</Layout>
