---
// Sections
import FunnelLayout from "../layouts/FunnelLayout.astro";
import Header from "../components/Header.astro";
import IntroSection from "../sections/IntroSection.astro";
import DoubleReviewSection from "../sections/DoubleReviewSection.astro";
import WhatYouGetSection from "../sections/WhatYouGetSection.astro";
import DownloadFormSection from "../sections/DownloadFormSection.astro";
import BrochureClosingCtaSection from "../sections/BrochureClosingCtaSection.astro";

// Components
import CtaDownloadButton from "../components/CtaDownloadButton.astro";

// Data
import PageData from "../data/brochure.json";

const {
  heroSection,
  herkenbaarSection,
  watJeKrijgtSection,
  downloadSection,
  brochureClosingCtaSection,
  metaDescription,
  metaTitle,
  ogImage,
  ogUrl,
} = PageData.pageContent;

const iconColor = "var(--clr-primary-900)";
---

<FunnelLayout
  description={metaDescription}
  ogDescription={metaDescription}
  ogImageAlt={ogImage.ogImageAlt}
  ogImageUrl={ogImage.ogImageUrl}
  ogTitle={metaTitle}
  ogUrl={ogUrl}
  title={metaTitle}
>
  <Header>
    <div>
      <h1 set:html={heroSection.title} />
      <p set:html={heroSection.subtitle} />

      <!-- CTA Download Button -->
      <CtaDownloadButton
        AriaLabel={heroSection.ariaLabel}
        CtaBtn={heroSection.ctaBtn}
        DownloadFileName={heroSection.downloadFileName}
        Title={heroSection.ctaBtnTitle}
        Url={heroSection.ctaBtnUrl}
      />
    </div>
  </Header>

  <main>
    <IntroSection
      altText={herkenbaarSection.altText}
      imageUrl={herkenbaarSection.imageUrl}
      paragraph={herkenbaarSection.paragraph}
      title={herkenbaarSection.title}
    />

    <WhatYouGetSection
      title={watJeKrijgtSection.title}
      items={watJeKrijgtSection.items}
      watJeKrijgtSection={watJeKrijgtSection}
    />

    <DownloadFormSection
      title={downloadSection.title}
      ariaLabel={downloadSection.ariaLabel}
      ctaBtn={downloadSection.ctaBtn}
      formNotification={downloadSection.formNotification}
    />

    <DoubleReviewSection />

    <!-- Closing Call to Action Section -->
    <BrochureClosingCtaSection
      title={brochureClosingCtaSection.title},
      subtitle={brochureClosingCtaSection.subtitle},
      ariaLabel={brochureClosingCtaSection.ariaLabel}
      ctaBtn={brochureClosingCtaSection.ctaBtn}
      ctaBtnUrl={brochureClosingCtaSection.ctaBtnUrl}
      disclaimer={brochureClosingCtaSection.disclaimer}
    />

  </main>
</FunnelLayout>

<style>
  #brochure-closing-cta-section {
    display: grid;
    place-items: center;
    margin-block-end: var(--size-10);

    div {
      align-content: center;
      display: grid;
      gap: var(--size-3);
      justify-content: center;
      max-width: 85ch;
      text-align: center;

      h1 {
        color: var(--clr-primary-100);
        font-size: var(--fs-900);
        line-height: var(--lh-200);
      }

      p {
        margin-inline: auto;
      }

      button,
      a {
        margin-inline: auto;
      }

      span {
        color: var(--clr-primary-900);
        font-size: var(--fs-300);
        font-weight: 500;
      }
    }
  }
</style>
