---
// Sections
import FunnelLayout from "../layouts/FunnelLayout.astro";
import Header from "../components/Header.astro";
import IntroSection from "../sections/IntroSection.astro";
import DoubleReviewSection from "../sections/DoubleReviewSection.astro";
import WhatYouGetSection from "../sections/WhatYouGetSection.astro";
import DownloadFormSection from "../sections/DownloadFormSection.astro";

// Components
import CtaDownloadButton from "../components/CtaDownloadButton.astro";

// Data
import PageData from "../data/brochure.json";

const {
  heroSection,
  herkenbaarSection,
  watJeKrijgtSection,
  downloadSection,
  metaDescription,
  metaTitle,
  ogImage,
  ogUrl,
} = PageData.pageContent;

const iconColor = "var(--clr-primary-900)";
---

<FunnelLayout
  description={metaDescription}
  ogDescription={metaDescription}
  ogImageAlt={ogImage.ogImageAlt}
  ogImageUrl={ogImage.ogImageUrl}
  ogTitle={metaTitle}
  ogUrl={ogUrl}
  title={metaTitle}
>
  <Header>
    <div>
      <h1 set:html={heroSection.title} />
      <p set:html={heroSection.subtitle} />

      <!-- CTA Download Button -->
      <CtaDownloadButton
        AriaLabel={heroSection.ctaBtn}
        CtaBtn={heroSection.ctaBtn}
        DownloadFileName={heroSection.downloadFileName}
        IconColor={iconColor}
        Title={heroSection.ctaBtnTitle}
        Url={heroSection.ctaBtnUrl}
      />
    </div>
  </Header>

  <main>
    <IntroSection
      altText={herkenbaarSection.altText}
      imageUrl={herkenbaarSection.imageUrl}
      paragraph={herkenbaarSection.paragraph}
      title={herkenbaarSection.title}
    />

    <WhatYouGetSection
      title={watJeKrijgtSection.title}
      items={watJeKrijgtSection.items}
      watJeKrijgtSection={watJeKrijgtSection}
    />

    <DownloadFormSection
      title={downloadSection.title}
      ariaLabel={downloadSection.ariaLabel}
      ctaBtn={downloadSection.ctaBtn}
      formNotification={downloadSection.formNotification}
    />

    <DoubleReviewSection />

    <section
      class="wrapper hidden"
      id="brochure-closing-cta-section"
    >
      <div class="flex flex-column-center text-center gap-2">
        <h2>Twijfel je of je website beter kan?</h2>
        <p>
          Dan is deze brochure je eerste stap naar duidelijkheid en resultaat.
        </p>

        <CtaDownloadButton
          AriaLabel={heroSection.ctaBtn}
          CtaBtn={heroSection.ctaBtn}
          DownloadFileName={heroSection.downloadFileName}
          IconColor={iconColor}
          Title={heroSection.ctaBtnTitle}
          Url={heroSection.ctaBtnUrl}
        />
      </div>
    </section>
  </main>
</FunnelLayout>
