---
// Layouts
import Layout from "../layouts/Layout.astro";

// Sections
import FooterSection from "../sections/FooterSection.astro";
import FaqSection from "../sections/SharedSections/FaqSection.astro";
import SolutionSection from "../sections/websitePage/solutionSection.astro";
import ReviewSection from "../sections/websitePage/reviewSection.astro";
import ResultSection from "../sections/websitePage/resultSection.astro";
import PracticalInfoSection from "../sections/websitePage/practicalInfoSection.astro";
import PricingSectionA from "../sections/websitePage/pricingSectionA.astro";
// import PricingSectionB from "../sections/websitePage/pricingSectionB.astro"
import CtaSection from "../sections/websitePage/ctaSection.astro";
import TrustSection from "../sections/websitePage/trustSection.astro";
import AboutMeSection from "../sections/websitePage/aboutMeSection.astro";
import ForWhoSection from "../sections/websitePage/forWhoSection.astro";
import WhyNowSection from "../sections/websitePage/whyNowSection.astro";
import LastCallCtaSection from "../sections/websitePage/lastCallCtaSection.astro";
import IntroSection from "../sections/IntroSection.astro";

// Components
import Header from "../components/Header.astro";

// Data
import PageData from "../data/website.json";

const {
  aboutMeSection,
  ctaSection,
  faqSection,
  firstReviewSection,
  forthReviewSection,
  forWhoSection,
  heroSection,
  lastCallCtaSection,
  metaDescription,
  metaTitle,
  ogImage,
  ogUrl,
  practivalInfoSection,
  pricingSectionA,
  pricingSectionB,
  problemSection,
  resultSection,
  secondReviewSection,
  solutionSection,
  thirdReviewSection,
  trustSection,
  whyNowSection,
} = PageData.pageContent;
---

<Layout
  description={metaDescription}
  ogDescription={metaDescription}
  ogImageAlt={ogImage.ogImageAlt}
  ogImageUrl={ogImage.ogImageUrl}
  ogTitle={metaTitle}
  ogUrl={ogUrl}
  title={metaTitle}
>
  <Header>
    <div>
      <h1 set:html={heroSection.title} />
      <p set:html={heroSection.subtitle} />
      <a href={heroSection.cta.url} class="btn btn-cta"
        >{heroSection.cta.title}</a
      >
    </div>
  </Header>

  <main>
    <!-- Intro section what is the problem -->
    <IntroSection
      altText={problemSection.image.altText}
      imageUrl={problemSection.image.url}
      paragraph={problemSection.content}
      sectionId="problemSection"
      title={problemSection.title}
    />
    <!-- Intro section what is the solution -->
    <IntroSection
      altText={solutionSection.image.altText}
      cta={solutionSection.cta}
      flexDirection="flex-reverse"
      imageUrl={solutionSection.image.url}
      paragraph={solutionSection.content}
      sectionId="solutionSection"
      title={solutionSection.title}
    />
    <!-- First testemonial -->
    <ReviewSection
      content={firstReviewSection}
      sectionId="firstReviewSection"
    />
    <!-- Result section -->
    <ResultSection content={resultSection} sectionId="resultSection" />
    <!-- Practical info -->
    <PracticalInfoSection
      content={practivalInfoSection}
      sectionId="practicalInfoSection"
    />
    <!-- Second testemonial -->
    <ReviewSection
      content={secondReviewSection}
      sectionId="secondReviewSection"
    />
    <!-- Pricing Section A-->
    <PricingSectionA content={pricingSectionA} sectionId="pricingSectionA" />
    <!-- Pricing Section B-->
    <!-- <PricingSectionB content={pricingSectionB} sectionId="pricingSectionB"/> -->
    <!-- ctaSection -->
    <CtaSection content={ctaSection} sectionId="ctaSection" />
    <!-- trustSection -->
    <TrustSection content={trustSection} sectionId="trustSection" />
    <!-- thirdReviewSection -->
    <ReviewSection
      content={thirdReviewSection}
      sectionId="thirdReviewSection"
    />
    <!-- aboutMeSection -->
    <AboutMeSection content={aboutMeSection} sectionId="aboutMeSection" />
    <!-- forWhoSection -->
    <ForWhoSection content={forWhoSection} sectionId="forWhoSection" />
    <!-- whyNowSection -->
    <WhyNowSection content={whyNowSection} sectionId="whyNowSection" />
    <!-- forthReviewSection -->
    <ReviewSection
      content={forthReviewSection}
      sectionId="forthReviewSection"
    />
    <!-- faqSection -->
    <FaqSection faqSection={faqSection} sectionId="website-faq-section" />
    <!-- lastCallCtaSection -->
    <LastCallCtaSection
      content={lastCallCtaSection}
      sectionId="lastCallCtaSection"
    />
  </main>
  <FooterSection />
</Layout>
