---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Project from "../../components/Project.astro";
import CtaSection from "../../sections/CtaSection.astro";
import FooterSection from "../../sections/FooterSection.astro";
import pageData from '../../data/projects.json'
import fetchProjects from "../../lib/fetchProjects";

const projects = await fetchProjects()

const {
  metaTitle,
  metaDescription,
  ogImage,
  ogUrl,
  heroTitle,
  heroSubtitle,
} = pageData.pageContent
---

<Layout
  title={metaTitle}
  description={metaDescription}
  ogTitle={metaTitle}
  ogDescription={metaDescription}
  ogImageUrl={ogImage.ogImageUrl},
  ogImageAlt={ogImage.ogImageAlt},
  ogUrl={ogUrl}
>
  <Header>
    <div>
      <h1>{heroTitle}</h1>
      <p>{heroSubtitle}</p>
    </div>
  </Header>

  <section class="wrapper">
    <div class="grid">
      {
        projects.map((project, i) => {
          if(i % 2) {
            return  <Project flexDirection="flex" projectContent={project}/>
          } else {
            return   <Project flexDirection="flex-reverse" projectContent={project}/>
          }
        })
      }
    </div>
  </section>
  <CtaSection />
  <FooterSection />
</Layout>
