---
const {
  ariaLabel = "knop",
  buttonId,
  buttonStyle = "btn-primary",
  buttonType = "button",
  href = "",
  onClick = null,
  target = null,
} = Astro.props;

// Check of het een externe link is én of het een nieuw tabblad opent
const isExternal = href.startsWith("https://");
const openInNewTab = target === "_blank";
const rel = isExternal && openInNewTab ? "noopener noreferrer" : undefined;
---

{
  href ? (
    <a href={href} class={`btn ${buttonStyle}`} target={target} rel={rel}>
      <slot />
    </a>
  ) : (
    <button
      aria-label={ariaLabel}
      class={`btn ${buttonStyle}`}
      id={buttonId}
      onclick={onClick}
      type={buttonType}
    >
      <slot />
    </button>
  )
}

<style>
  .btn {
    border: none;
    border-radius: var(--border-radius-btn);
    cursor: pointer;
    padding-block: var(--size-2);
    height: fit-content;
    padding-inline: var(--size-3);
    font-size: var(--fs-400);
    font-weight: var(--fw-semi-bold);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s ease-out;
  }

  .btn-primary {
    background-color: var(--clr-primary-900);
    border: solid 2px var(--clr-primary-900);
    box-shadow: var(--box-shadow);
    color: var(--clr-primary-100);

    &:hover,
    &:active {
      background-color: transparent;
      color: var(--clr-primary-900);
    }
  }

  .btn-primary-open {
    background-color: transparent;
    border: solid 2px var(--clr-primary-900);
    box-shadow: var(--box-shadow);
    color: var(--clr-primary-900);

    &:hover,
    &:active {
      background-color: var(--clr-primary-900);
      color: var(--clr-primary-100);
    }
  }

  .btn-secondary {
    background-color: var(--clr-secondary-900);
    border: solid 2px var(--clr-secondary-900);
    box-shadow: var(--box-shadow);
    color: var(--clr-primary-100);
    max-width: 65ch;

    &:hover,
    &:active {
      background-color: transparent;
      color: var(--clr-secondary-900);
    }
  }

  .btn-secondary-open {
    background-color: transparent;
    border: solid 2px var(--clr-secondary-900);
    box-shadow: var(--box-shadow);
    color: var(--clr-secondary-900);

    &:hover,
    &:active {
      background-color: var(--clr-secondary-900);
      color: var(--clr-secondary-100);
    }
  }

  .btn-white {
    background-color: var(--clr-primary-100);
    border: solid 2px var(--clr-primary-100);
    box-shadow: var(--box-shadow);
    color: var(--clr-primary-900);

    &:hover,
    &:active {
      background-color: transparent;
      color: var(--clr-primary-100);
    }
  }

  .nav-btn {
    background-color: transparent;
    grid-column: -3;
    margin-inline-start: auto;
    padding: 0;
    width: fit-content;
  }

  .arrow-btn {
    background-color: transparent;
    padding: 0;
    width: fit-content;
  }

  .white-btn {
    background-color: var(--clr-primary-100);
    border: solid 1px var(--clr-primary-100);
    color: var(--clr-primary-900);

    &:hover,
    &:active {
      background-color: transparent;
      color: var(--clr-secondary-100);
    }
  }

  .btn[disabled]  {
    background-color: var(--clr-neutral-500);
    border: solid 2px var(--clr-neutral-500);
    box-shadow: none;
    color: #f5f5f56c;
    cursor: not-allowed;

    &:hover,
    &:active {
      background-color: var(--clr-gray-300);
      color: var(--clr-gray-600);
    }
  }
</style>
