---
import { AccordionIcon } from "../assets/icons";

const { question, answer, link, index } = Astro.props;

const color = "var(--clr-primary-300)";
---

<li class="accordion">
  <h3 class="accordion-header">
    <button
      class="accordion-trigger"
      aria-expanded="false"
      aria-controls=`answer-${index}`
      >{question} <AccordionIcon iconFill={color} /></button
    >
  </h3>
  <div id=`answer-${index}` class="accordion-content">
    <div>
      <p set:html={answer} />
      {
        link && (
          <a href={`${link}`} target="_blank">
            Of klik hier voor meer informatie
          </a>
        )
      }
    </div>
  </div>
</li>

<style>
  .accordion {
    background-color: var(--clr-primary-900);
    border-radius: var(--border-radius-card);
    color: var(--clr-primary-100);
    padding: var(--size-1);
    overflow: hidden;

    .accordion-header {
      font-size: var(--fs-500);

      button {
        background-color: transparent;
        border: none;
        color: var(--clr-primary-100);
        cursor: pointer;
        display: flex;
        font-size: var(--fs-500);
        justify-content: space-between;
        padding-block: var(--size-1);
        width: 100%;
      }

      svg {
        transition: transform 500ms ease-in-out;
      }
    }

    .accordion-content {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 500ms ease-in-out;
      padding-inline-end: var(--size-2);

      div {
        overflow: hidden;

        p {
          margin-block-end: var(--size-2);
        }
      }
    }
  }

  .accordion.is__open {
    background-color: var(--clr-primary-700);

    .accordion-content {
      grid-template-rows: 1fr;
    }

    svg {
      transform: rotate(45deg);
    }
  }
</style>
