---
import Layout from "../../layouts/Layout.astro";
import fetchBlogArticles from "../../lib/fetchBlogArticles"
import Header from "../../components/Header.astro";
import CtaSection from "../../sections/CtaSection.astro";
import FooterSection from "../../sections/FooterSection.astro";

export async function getStaticPaths() {
  try {
    const blogs = await fetchBlogArticles();

    if (!blogs || blogs.length === 0) {
      return []; // Lege array als er geen blogs zijn
    }

    return blogs.map((blog) => {
   
      return {
        params: {
          slug: blog.node.slug,
        },
        props: {
          blogData: blog
          },
      };
    });
  } catch (error) {

    return []; // Lege array bij een error
  }
}

const { slug } = Astro.params;

const blogs = await fetchBlogArticles()
const blogData = blogs.find((blog: { node: { slug: any; }; }) => blog.node.slug === slug)

if (!blogData) {
  throw new Error('Blog not found');
}

const metaTitle = blogData.node.seo.title
const metaDescription = blogData.node.seo.metaDesc
const opengraphTitle = blogData.node.seo.opengraphTitle
const opengraphDescription = blogData.node.seo.opengraphDescription
const opengraphImageUrl = blogData.node.seo.opengraphImage.mediaItemUrl
const opengraphImageAlt = blogData.node.seo.opengraphImage.altText
---



<Layout
  title={`${metaTitle}`}
  description={`${metaDescription}`}
  ogTitle={`${opengraphTitle}`}
  ogDescription={`${opengraphDescription}`}
  ogImageUrl={`${opengraphImageUrl}`}
  ogImageAlt={`${opengraphImageAlt}`}

>
  <header  class="blog-header">
    <div class="wrapper flex-column gap-1">
      <img 
      class="blog-hero-image"
      src={blogData.node.featuredImage.node.mediaItemUrl}
      width={1000}
      height={100}
      alt={blogData.node.featuredImage.node.altText}
      />
      <a href="/blog-artikelen">Terug naar de blog pagina</a>
    </div>
  </header>

  <main>
    <section class="wrapper blog-wrapper">
      <article class="blog-content">
        
        <h1>{blogData.node.title}</h1>
        <div set:html={blogData.node.content}></div>
      </article>
    </section>
    <CtaSection />
  </main>

<FooterSection />
</Layout>

<style>
  .blog-header {
    background-image: url("/assets/images/Shared/hero-background-image.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--clr-primary-100);
    display: grid;
    padding-block-end: 6rem;
    padding-block-start: 6rem;
    place-items: center;



    .blog-hero-image {
      border-radius: var(--radius-1);
      height: 50vh;
      margin-block-start: var(--size-10);
      object-fit: cover;
      width: 80%;
    }

  }


  .blog-wrapper {
    background-color: var(--color-light);
    border-radius: var(--radius-1);
    display: grid;
    gap: var(--size-4);
    margin-block: var(--size-4);
    padding: var(--size-4);
  }

  .blog-content {

    h1 {
      font-size: var(--fs-900);
      margin-top: var(--size-1);
    }

    div {
      display: grid;
      gap: var(--size-2);
      margin-block-start: var(--size-4) ;

      .wp-blog-block-heading {
        font-size: var(--fs-700);
      }

      .wp-block-list {
        margin-inline-start: var(--size-3);
      }
    }
  }

</style>
