---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import CtaSection from "../../sections/CtaSection.astro";
import FooterSection from "../../sections/FooterSection.astro";
import fetchBlogArticles from "../../lib/fetchBlogArticles";
import pageData from "../../data/blog.json";
import Button from "../../components/Button.astro";

const blogs = await fetchBlogArticles();

const { metaTitle, metaDescription, ogImage, ogUrl, heroTitle } =
  pageData.pageContent;
---

<Layout
  title={metaTitle}
  description={metaDescription}
  ogTitle={metaTitle}
  ogDescription={metaDescription}
  ogImageUrl={ogImage.ogImageUrl}
  ogImageAlt={ogImage.ogImageAlt}
  ogUrl={ogUrl}
>
  <Header>
    <div>
      <h1>{heroTitle}</h1>
    </div>
  </Header>

  <section class="fb-col-wrapper">
    <div class="blog-list">
      {
        blogs.map((blog) => (
          <a href={`/blog-artikelen/${blog.node.slug}`} class="hidden blog">
            <img
              src={blog.node.featuredImage.node.mediaItemUrl}
              width={500}
              height={500}
              alt={blog.node.featuredImage.node.altText}
            />
            <div class="text-wrapper">
              <h2>{blog.node.title}</h2>
              <div set:html={blog.node.excerpt} />
            </div>
            <Button>Lees meer</Button>
          </a>
        ))
      }
    </div>
  </section>
  <CtaSection />
  <FooterSection />
</Layout>

