---
// Components
import CtaDownloadButton from "../components/CtaDownloadButton.astro";

const {
  ariaLabel,
  ctaBtn,
  ctaBtnTitle,
  ctaBtnUrl,
  disclaimer,
  downloadFileName,
  subtitle,
  title,
} = Astro.props;

const iconColor = "var(--clr-primary-900)";
---

<section class="hidden" id="brochure-closing-cta-section">
  <div>
    <h2 class="cta-title">{title}</h2>
    <p>{subtitle}</p>

    <div class="btn-wrapper">
      <CtaDownloadButton
        AriaLabel={ariaLabel}
        CtaBtn={ctaBtn}
        DownloadFileName={downloadFileName}
        IconColor={iconColor}
        Title={ctaBtnTitle}
        Url={ctaBtnUrl}
      />

      <span>{disclaimer}</span>
    </div>

  </div>
</section>

<style>
  #brochure-closing-cta-section {
    display: grid;
    margin-block-end: var(--size-10);
    place-items: center;

    div {
      align-content: center;
      background-color: var(--clr-primary-900);
      border-radius: var(--border-radius-card);
      box-shadow: var(--box-shadow);
      color: var(--clr-primary-100);
      display: grid;
      gap: var(--size-3);
      justify-content: center;
      max-width: 85ch;
      padding: var(--size-4) var(--size-3);
      text-align: center;

      .cta-title {
        color: inherit;
        font-size: var(--fs-900);
        line-height: var(--lh-200);
      }

      p {
        margin-inline: auto;
      }

      .btn-wrapper {
        display: grid;
        gap: var(--size-1);

        button,
        a {
          margin-inline: auto;
        }

        span {
          font-size: var(--fs-300);
          font-weight: 500;
        }
      }

    }
  }
</style>
