---
import SectionTitle from "../components/SectionTitle.astro"
import FaqAccordion from "../components/FaqAccordion.astro"
import Image from "astro/components/Image.astro"



const title = "Heb je een vraag? Check hieronder het antwoord"

const faqs = [
  {
    question: "Voor wie maak ik het verschil?",
    answer: "Voor jou. Als jij een ondernemer bent met een passie voor wat je doet en je wilt online echt iets bereiken, dan ben je bij mij aan het juiste adres. Ik help je om je online doelen te realiseren en je bedrijf te laten groeien. Ik denk met je mee, adviseer en lever een website op waar je trots op kunt zijn.",
  },
  {
    question: "Waarom mij inschakelen voor je website?",
    answer: "Voor je online aanwezigheid. Maar bovenal draait het bij mij om het begrijpen van jouw unieke verhaal. Alleen op die manier kan ik een website voor je maken waar je trots op bent.",
  },
  {
    question: "Hoeveel kost het om een website te maken?",
    answer: "Wat kost een website? Goeie vraag! Het is tenslotte een investering in je bedrijf. Het prijskaartje hangt af van een paar dingen, zoals de grootte van je website en of je speciale functies wilt. Maar ik beloof je: geen kleine lettertjes of verborgen kosten. We geven je vooraf een duidelijke prijsopgave, zodat je precies weet waar je aan toe bent. Dus, zin om te sparren over jouw online plannen? Neem even contact op!",
    // internalLink: "/"
  },
  {
    question: "Moet je voor elke kleine verandering meteen bij mij aankloppen?",
    answer: "Nee hoor, zeker niet! Ik wil juist dat je zelf aan de knoppen kunt blijven draaien. Daarom heb ik handige video’s gemaakt waarin ik je laat zien hoe je zelf je website kunt beheren. Heb je toch nog een vraag? Geen probleem, ik help je graag.",
  },
  {
    question: "Hoe lang duurt het om een website te laten maken?",
    answer: "Dat is een goede vraag, en het eerlijke antwoord is: dat hangt ervan af. Het is net als met een huis bouwen; een klein tuinhuisje is sneller klaar dan een villa. Hetzelfde geldt voor websites. Een simpele website met een paar pagina's is sneller klaar dan een complexe webshop met veel functionaliteiten. Ik streef er altijd naar om zo snel mogelijk te leveren, maar kwaliteit staat voorop. Ik neem de tijd die nodig is om een website te bouwen waar je echt trots op kunt zijn.",
  },
]

const {
  sectionId
} = Astro.props
---

<section class="fb-col-wrapper" id={sectionId}>

  <SectionTitle sectionTitle={title} />
  <span class="section-subtitle">Niet het antwoord dat je zoekt? Je kunt ook
    <a href="mailto:info@westend-digital.nl">mailen.</a>
  </span>


  <ul class="faq-wrapper" role="list">
    {faqs.map((faq, i) => {
      return (
        <FaqAccordion
          question={faq.question}
          answer={faq.answer}
          link={faq.internalLink}
          index={i}
        />
      )
    })}
  </ul>
  <Image
    alt="",
    class="faq-image"
    src="/images/about-image.png"
    height="500"
    width="500"
  />
</section>

<style>
  #webcheck-faq {
    margin-block-end: var(--size-10);
  }

  .section-subtitle {
    grid-column: 2 / -2;
    text-align: center;
    font-size: var(--fs-500);
    margin-block-end: var(--size-6);
  }

  .faq-wrapper {
    grid-column: -2 / 2;
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
  }

  .faq-image {
    grid-column: -2 / 2;
    object-fit: cover;
    object-position: center;
    height: 50vh;
    width: 100%;
  }

  @media(width >= 43.75em ) {
    .faq-wrapper {
      grid-column: 2 / -2;
    }

    .faq-image {
      grid-column: 2 / -2;
    }
  }
  @media(width >= 62.5em ) {
    .faq-wrapper {
      grid-column: 2 / 8;
    }

    .faq-image {
      grid-column: -2 / 8;
    }
  }


</style>

<script>
  const faqWrapper = document.querySelector(".faq-wrapper");
  const accordions = document.querySelectorAll(".accordion");

  faqWrapper.addEventListener("click", (e) => {
    const accordionHeader = e.target.closest("li")
    const accordion = e.target.closest(".accordion")
    const isOpen = accordion.classList.contains("is__open");

    accordions.forEach(a => {
        a.classList.remove("is__open")
    })

    if (!isOpen) {
        accordion.classList.add("is__open");
      }
  })

  </script>
