---
import SectionTitle from "../components/SectionTitle.astro"
import FaqAccordion from "../components/FaqAccordion.astro"
import Image from "astro/components/Image.astro"

const {
  title,
  faqs
} = Astro.props

const {
  sectionId
} = Astro.props
---

<section class="fb-col-wrapper" id={sectionId}>

  <SectionTitle sectionTitle={title} />
  <span class="section-subtitle">Niet het antwoord dat je zoekt? Je kunt ook
    <a href="mailto:info@westend-digital.nl">mailen.</a>
  </span>


  <ul class="faq-wrapper" role="list">
    {faqs.map((faq, i) => {
      return (
        <FaqAccordion
          question={faq.question}
          answer={faq.answer}
          link={faq.internalLink}
          index={i}
        />
      )
    })}
  </ul>
  <Image
    alt="",
    class="faq-image"
    src="/images/questions-marks.webp"
    height="500"
    width="500"
  />
</section>

<style>
  #webcheck-faq {
    margin-block-end: var(--size-10);
  }

  .section-subtitle {
    grid-column: 2 / -2;
    text-align: center;
    font-size: var(--fs-500);
    margin-block-end: var(--size-6);
  }

  .faq-wrapper {
    grid-column: -2 / 2;
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
  }

  .faq-image {
    border-radius: var(--border-radius-img);
    box-shadow: var(--box-shadow);
    grid-column: -2 / 2;
    object-fit: cover;
    object-position: center;
    height: 50vh;
    width: 100%;
  }

  @media(width >= 43.75em ) {
    .faq-wrapper {
      grid-column: 2 / -2;
    }

    .faq-image {
      grid-column: 2 / -2;
    }
  }
  @media(width >= 62.5em ) {
    .faq-wrapper {
      grid-column: 2 / 8;
    }

    .faq-image {
      grid-column: -2 / 8;
    }
  }


</style>

<script is:inline>
  const faqWrapper = document.querySelector(".faq-wrapper");
  const accordions = document.querySelectorAll(".accordion");

  faqWrapper.addEventListener("click", (e) => {
    const accordionHeader = e.target.closest("li")
    const accordion = e.target.closest(".accordion")
    const isOpen = accordion.classList.contains("is__open");

    accordions.forEach(a => {
        a.classList.remove("is__open")
    })

    if (!isOpen) {
        accordion.classList.add("is__open");
      }
  })

  </script>
