---
import { Image } from "astro:assets";

import data from "../data/site.json"

const {
  pages,
  adress,
  footer
} = data

---

<footer class="fb-col-wrapper">
  <div class="logo-section">
    <a href="/">
      <Image
        alt={footer.logo.altText}
        class="footer-image"
        height={500}
        src={footer.logo.url}
        width={500}
      />
    </a>
    <p>{footer.footerText}</p>
  </div>

  <div class="links">
    <div>
      <h4>Sitemap</h4>
      <ul role="list">
        { pages.map((page) => {
          return (
            <li><a href={page.href}>{page.title}</a></li>
          )
        })}
      </ul>
    </div>
    <div>
      <h4>Contact</h4>
      <ul role="list" id="contact-list">
        <li>
          <p>{adress.street}</p>
          <p>{adress.adress}</p>
        </li>
        <li>
          <p>Email: <a href={`mailto:${adress.email}`}>{adress.email}</a></p>
          <p>Telefoon: <a href={`tel:${adress.phone.phoneHref}`}>{adress.phone.number}</a></span>
        </li>
        <li>
          <p>{adress.chamberOfCommerce}</p>
          <p>{adress.taxId}</p>
        </li>
      </ul>
    </div>
  </div>

</footer>

<style>
  footer{
    background-color: var(--clr-primary-900);
    color: var(--clr-primary-100);
    padding-block: var(--size-4);

    .logo-section {
      grid-column: 2 / -2;
      text-align: center;
      p {
        margin-inline: auto;
      }

    }

    .links {
      grid-column: 2 / -2;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      margin-top: var(--size-5);

      h4,
      h5{
        font-weight: var(--fw-semi-bold);
      }

      h4 {
        font-size: var(--fs-500);
        margin-bottom: var(--size-2);
      }

      h5 {
        font-size: var(--fs-400);
        margin-bottom: var(--size-1);
      }

      a {
        text-decoration: none;

        &:hover,
        &:active {
          text-decoration: underline;
        }
      }

      #contact-list {
        display: grid;
      }
    }

    @media( width >= 43.75em ) {
        .logo-section {
          grid-column: 2 / -2;

        }

        .links {
          grid-column: 2 / -2;
        }
     }
    @media( width >= 62.5em ) {
        .logo-section {
          grid-column: 2 / 6;
        }

        .links {
          align-self: center;
          grid-column: -2 / 6;
        }
     }

  }
</style>
