---
import HeroImageWrapper from "../components/reactComponentHeroWrapper/HeroImageWrapper.jsx";

const { title, topTitle, subTitle, ctaBtn, heroImage, backgroundImage } =
  Astro.props;
---

<header class="wrapper">
  <div class="hero-copy">
    <span>{topTitle}</span>
    <h1>{title}</h1>
   
    <p>{subTitle}</p>
    
    <a
      aria-label="neem vrijblijvend contact met mij op"
      class="btn btn-hero"
      href="https://calendly.com/remco-westend-digital/30min"
      id="hero-btn"
    >
      {ctaBtn}
    </a>
  </div>

  <HeroImageWrapper
    heroImage={heroImage}
    backgroundImage={backgroundImage}
    client:visible
  />
</header>

<style>
  header {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-3);
    justify-content: space-between;
    padding-block: var(--size-10);
    position: relative;

    .hero-copy {
      flex-grow: 1;
      height: fit-content;
      width: 50%;

      span {
        font-size: var(--size-2);
      }

      h1 {
        margin-block: var(--size-2);
      }

      p {
        display: grid;
        gap: var(--size-1);
        width: 100%;
      }
    }

  }

  @media (width >= 870px) {
    header {
      padding-block: 24rem var(--size-10);
    }
  }

  @media (width >= 984px) {
    header {
      .hero-copy {
        p {
          width: 80%;
        }
      }
    }
  }
</style>
