---
import Image from "astro/components/Image.astro";

const { title, topTitle, subTitle, ctaBtn, image, backgroundImage } =
  Astro.props;
---

<header class="wrapper">
  <div class="hero-copy">
    <span>{topTitle}</span>
    <h1>{title}</h1>
    <div>
      <p>{subTitle}</p>
    </div>
   
    <a
      aria-label="neem vrijblijvend contact met mij op"
      class="btn btn-hero"
      href="https://calendly.com/remco-westend-digital/30min"
      id="hero-btn"
    >
      {ctaBtn}
    </a>
  </div>
  <div class="hero-image-wrapper">
    <a href="/werk" class="hero-image-button btn btn-white"
      >Bekijk mijn laatste werk</a
    >
    <Image
      alt={image.imgAlt}
      class="image"
      height={500}
      loading="eager"
      src={image.imgUrl}
      width={500}
    />
    <!-- Background image -->
    <Image
      alt={backgroundImage.imgAlt}
      class="background-image"
      height={1000}
      loading="eager"
      src={backgroundImage.imgUrl}
      width={1000}
    />
  </div>
</header>

<style>
  header {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-3);
    justify-content: space-between;
    padding-block: var(--size-10);
    position: relative;

    .hero-copy {
      flex-grow: 1;
      width: 50%;

      span {
        font-size: var(--size-2);
      }

      h1 {
        margin-block: var(--size-2);
      }

      div {
        display: grid;
        gap: var(--size-1);
        width: 100%;
      }
    }

    .hero-image-wrapper {
      display: none;
    }

    @media (width >= 43.75rem) {
      .hero-image-wrapper {
        --_img-margin: var(--size-3);
        display: block;
        flex-grow: 1;
        height: 100%;
        position: relative;
        width: 40%;
        z-index: 1;

        .hero-image-button {
          align-content: center;
          background-color: var(--clr-background);
          height: calc(var(--_img-margin) * 2);
          position: absolute;
          right: var(--_img-margin);
          text-decoration: underline;
          z-index: 50;
        }

        .image {
          border-radius: var(--border-radius-img);
          box-shadow: var(--box-shadow);
          height: 100%;
          margin-block-start: var(--_img-margin);
        }

        .background-image {
          height: 120%;
          inset: -10%;
          object-fit: cover;
          object-position: 10%;
          position: absolute;
          width: 110%;
          z-index: -1;
        }
      }
    }
  }

  @media (width >= 870px) {
    header {
      padding-block: 24rem var(--size-10);
    }
  }

  @media (width >= 984px) {
    header {
      .hero-copy {
        div {
          width: 80%;
        }
      }
    }
  }
</style>
