---
import Image from "astro/components/Image.astro";

const {
  title,
  paragraph,
  imageUrl,
  altText,
  flexDirection = "flex"
} = Astro.props


---

<section class=`intro-section wrapper ${flexDirection}`>
  <div class="copy-wrapper">
    <h2>{title}</h2>
    {paragraph.map(par => {
      return (
         <p>{par}</p>)

    })}

  </div>
  <div class="img-wrapper">
    <Image src={imageUrl} alt={altText} width={500} height={500} />
  </div>
</section>


<style>

  .intro-section {
    gap: var(--size-2);
    height: fit-content;

    .copy-wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--size-1);
      width: 100%;
    }

    .img-wrapper {
      height: auto;
      width: 100%;

      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
      }
    }
  }





</style>
