---
import { Image } from "astro:assets";
import Card from "../components/Card.astro";
import SectionTitle from "../components/SectionTitle.astro";
const title = "Waarom kies je voor Westend Digital?";
const paragraph =
  "Westend Digital is jouw partner voor digitale groei, die met een doordachte strategie en focus op meetbare resultaten een online platform bouwt dat met jouw ambities meegroeit. Zo wordt je website een krachtige groeimotor voor nu en in de toekomst.";
const usps = [
  {
    iconUrl: "/assets/icons/icon-digital-grow.svg",
    altText: "",
    title: "Digitaal succes als product",
    text: "Een effectieve website draait om drie pijlers: de juiste techniek, een doelgerichte strategie en meetbare resultaten. Ik werk ook met drie pijlers: een duidelijk plan, een concreet doel en een transparant proces. Zo zie je precies hoe we jouw digitale succes gaan realiseren.",
  },
  {
    iconUrl: "/assets/icons/icon-meer-dan-een-website.svg",
    altText: "",
    title: "Méér dan een website",
    text: "Ik bouw niet alleen je website - ik ben ook je sparringpartner voor je digitale groei. Door jouw bedrijf en doelgroep écht te begrijpen, creëer ik een online aanwezigheid die aansluit bij jouw doelen. We bouwen samen aan je groei: nu én in de toekomst. ",
  },
  {
    iconUrl: "/assets/icons/icon-website-als-groei-motor.svg",
    altText: "",
    title: "Je website als groeimotor",
    text: "Je wilt niet alleen een website die er professioneel uitziet, maar een platform dat meegroeit met je ambities. Ik bouw websites met het grotere plaatje in gedachten: een strategisch fundament dat je bedrijf versterkt. Geen holle woorden, wel meetbare resultaten.",
  },
];
---

<section class="wrapper" id="usp-section">
  <div class="why-us-wrapper">
    <h2>{title}</h2>
    <p>{paragraph}</p>
  </div>
  <div class="usp-wrapper">
    {
      usps.map((usp) => {
        return (
          <Card cardStyle="primary">
            <Image
              alt={usp.altText}
              height={250}
              src={usp.iconUrl}
              width={250}
            />
            <h3>{usp.title}</h3>
            <p>{usp.text}</p>
          </Card>
        );
      })
    }
  </div>
</section>

<style>
  #usp-section {
    justify-content: space-between;
    flex-direction: column;
    gap: var(--size-5);
  }

  .why-us-wrapper {
    max-width: 100%;

    h2 {
      margin-bottom: var(--size-3);
    }
  }

  .usp-wrapper {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: var(--size-1);
  }

  /* @media (width >= 62.5em) {
    #usp-section {
      flex-direction: row;
      gap: var(--size-3);
    }
    .why-us-wrapper {
      max-width: 40%;
    }

    .usp-wrapper {
      max-width: 60%;
    }
  } */
</style>
