---
import FunnelNavbar from "../components/FunnelNavbar.astro";
import "../styles/globals.css";

const {
  title,
  description,
  ogTitle,
  ogSiteName,
  ogDescription,
  ogImageUrl,
  ogImageAlt,
  ogUrl,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:site_name" content={ogSiteName} />
    <meta property="“og:title”" content={ogTitle} />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:url" content={ogUrl} />
    <meta property="og:image" content={ogImageUrl} />
    <meta property="og:image:alt" content={ogImageAlt} />
        <!-- Cookie script -->
    <script is:inline type="text/javascript" charset="UTF-8" src="//cdn.cookie-script.com/s/f68218e1a3c4332aa5e197d305c8a473.js"></script>
    <!-- End Cookie script -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s) as HTMLScriptElement,dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;if (f.parentNode) { f.parentNode.insertBefore(j,f); }
      })(window,document,'script','dataLayer','GTM-WS28BMHR');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Microsoft Clarity -->
    <script is:inline type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "q2k20aw8ji");
    </script>
    <!-- End Microsoft Clarity -->
    <!-- Google tag (gtag.js) -->
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-G3259ZHLJV"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-G3259ZHLJV');
    </script>

  </head>
  <body>
    <!-- <FunnelNavbar /> -->
    <slot />

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WS28BMHR"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      }
    });
  });

  const sections = document.querySelectorAll("section");
  sections.forEach((section, i) => {
    if (i !== 0) {
      section.classList.add("hidden");
    }
  });

  const hiddenEllements = document.querySelectorAll(".hidden");
  hiddenEllements.forEach((el) => observer.observe(el));
</script>
